{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://communes-finder.fr/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Gratuit",
      "description": "Operations gratuite"
    },
    {
      "name": "Premium",
      "description": "Nécessite un abonnement"
    }
  ],
  "paths": {
    "/oauth/token": {
       "post": {
         "security": [

         ],
         "description": "Récupère un token d'authentification",
         "requestBody": {
           "description": "Client secret et Client ID de votre application",
           "content": {
             "application/json": {
               "schema": {
                 "$ref": "#/components/schemas/OauthToken"
               }
             }
           },
           "required": true
         },
         "responses": {
           "200": {
             "description": "Réponse token",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/TokenResponse"
                 }
               }
             }
           },
           "400": {
             "description": "unexpected error",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/Error"
                 }
               }
             }
           }
         }
       }

    },
    "/search/communes": {
      "get": {
        "description": "Permet de rechercher une commune",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "commune à rechercher",
            "schema": {
              "type": "string",
              "format": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunesResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/commune/{code_insee}":
    {
      "get": {
        "description": "Permet de récupérer une commune par son code INSEE",
        "parameters": [
          {
            "name": "code_insee",
            "in": "path",
            "description": "Code INSEE de la commune",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommuneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/communes": {
      "get": {
        "summary": "List communes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commune/{code_insee}/quartiers":{
      "get": {
        "description": "Permet de récupérer les quartiers par communes",
        "parameters": [
          {
            "name": "code_insee",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommuneQuartiersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estimation": {
      "get": {
        "description": "Demander une estimation à partir d'une adresse postale",
        "parameters": [
          {
            "name": "surface",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Surface en mètres carrés."
          },
          {
            "name": "adresse",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Addresse postale."
          },
          {
            "name": "type_local",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["Maison", "Appartement", "Local industriel"]
            },
            "description": "Type (e.g., Maison, Appartement, Local industriel)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/adresse": {
      "get": {
        "summary": "Recherche une adresse",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'addresse à rechercher (e.g., '10 rue du 8 mai 1945')."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OauthToken": {
        "allOf": [
          {
            "required": [
              "client_id",
              "client_secret"
            ],
            "type": "object",
            "properties": {
              "client_id": {
                "description": "le client_id fournit par votre application",
                "type": "string"
              },
              "client_secret": {
                "description": "le client_secret fournit par votre application",
                "type": "string"
              }
            }
          }
        ]
      },
      "CommuneResponse": {
        "required": [
          "code_insee"
        ],
        "properties": {
            "type": {
                "description": "Type de résultat",
                "type": "string"
            },
            "code_insee": {
                "description": "Code INSEE de la commune",
                "type": "string"
            },
            "nom": {
                "description": "Nom de la commune",
                "type": "string"
            },
            "codes_postaux": {
                "description": "Code postaux de la commune",
                "type": "array",
                "items": {
                    "type": "string"
                }
            },
            "population": {
                "description": "Population de la commune",
                "type": "integer"
            },
          "median_price": {
            "description": "Prix médian commune",
            "type": "object",
            "properties": {
              "Local industriel. commercial ou assimilé": {
                "description": "Prix médian d'une maison",
                "type": "integer"
              },
              "Maison": {
                "description": "Prix médian d'une maison",
                "type": "integer"
              },
              "Appartement": {
                "description": "Prix médian d'un appartement",
                "type": "integer"
              }
            }
          }
        }
      },
      "CommunesResponse": {
        "required": [
          "q"
        ],
        "properties": {
          "type": {
            "description": "Type de résultat",
            "type": "string"
          },

          "code_insee": {
            "description": "Code INSEE de la commune",
            "type": "string"
          },
          "score": {
            "description": "Pertinence de la recherche (0 à 1)",
            "type": "integer"
          },
          "codesPostaux": {
            "description": "Liste de codes postaux",
            "type": "array",
            "items": {
              "type": "string"
            }
          }

        },
        "type": "object"
      },
      "CommuneQuartiersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Quartier"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Quartier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "median_prices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "quartier": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Geometry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["MultiPolygon"]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "path": {
            "type": "string",
            "format": "uri"
          },
          "per_page": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "label": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "Votre token d'authentification",
            "type": "string"
          },
          "token_type": {
            "description": "Le type du token",
            "type": "string"
          },
          "expires_in": {
            "description": "Expiration du token en secondes",
            "type": "integer"
          }
        }
      },
      "AdresseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Adresse"
            }
          }
        }
      },
      "Adresse": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Adresse postale."
          },
          "housenumber": {
            "type": "string",
            "description": "Numéro de l'adresse."
          },
          "street": {
            "type": "string",
            "description": "Nom de la rue."
          },
          "postcode": {
            "type": "string",
            "description": "Code postal de l'adresse."
          },
          "city": {
            "type": "string",
            "description": "Ville de l'adresse."
          },
          "citycode": {
            "type": "string",
            "description": "Code insee."
          },
          "coordinates": {
            "$ref": "#/components/schemas/Coordinates"
          },
          "idu": {
            "type": "string",
            "nullable": true,
            "description": "Numéro unique de l'adresse."
          },
          "dvf_data": {
            "type": "array",
            "items": {},
            "description": "Informations concernant les mutations."
          }
        }
      },
      "Coordinates": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "number",
            "format": "float",
            "description": "Longitude coordinate of the address."
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "description": "Latitude coordinate of the address."
          }
        }
      },
      "EstimationResponse": {
        "type": "object",
        "properties": {
          "adresse": {
            "type": "string",
            "description": "Addresse postale."
          },
          "surface": {
            "type": "string",
            "description": "Surface en mètres carrés."
          },
          "type_local": {
            "type": "string",
            "description": "Type "
          },
          "quartier_id": {
            "type": "integer",
            "description": "ID du quartier."
          },
          "code_commune": {
            "type": "string",
            "description": "Code insee."
          },
          "etat_bien": {
            "type": "string",
            "description": "Etat du bien."
          },
          "prix_m2_median": {
            "type": "number",
            "format": "float",
            "description": "Prix médian au mètre carré."
          },
          "fourchette_basse": {
            "type": "number",
            "format": "float",
            "description": "Fourchette basse d'estimation."
          },
          "fourchette_haute": {
            "type": "number",
            "format": "float",
            "description": "Fourchette haute d'estimation."
          },
          "estimation": {
            "type": "number",
            "format": "float",
            "description": "Prix estimé."
          }
        }
      },
      "CommunesListResponse": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "description": "Current page number."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Commune"
            }
          },
          "first_page_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the first page."
          },
          "from": {
            "type": "integer",
            "description": "Starting record number."
          },
          "last_page": {
            "type": "integer",
            "description": "Total number of pages."
          },
          "last_page_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the last page."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaginationLink"
            }
          },
          "next_page_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the next page."
          },
          "path": {
            "type": "string",
            "format": "uri",
            "description": "Base path of the API."
          },
          "per_page": {
            "type": "integer",
            "description": "Number of records per page."
          },
          "prev_page_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the previous page."
          },
          "to": {
            "type": "integer",
            "description": "Ending record number."
          },
          "total": {
            "type": "integer",
            "description": "Total number of records."
          }
        }
      },
      "Commune": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique ID of the commune."
          },
          "nom": {
            "type": "string",
            "description": "Name of the commune."
          },
          "codes_postaux": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Postal codes associated with the commune."
          },
          "code_insee": {
            "type": "string",
            "description": "INSEE code of the commune."
          },
          "region": {
            "type": "string",
            "description": "Region code of the commune."
          },
          "departement_id": {
            "type": "integer",
            "description": "Department ID of the commune."
          },
          "parent_id": {
            "type": "integer",
            "nullable": true,
            "description": "Parent ID if the commune is part of another entity."
          },
          "population": {
            "type": "integer",
            "description": "Population of the commune."
          },
          "type": {
            "type": "string",
            "description": "Type of the entity (e.g., commune)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the commune was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the commune was last updated."
          }
        }
      },
      "PaginationLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL of the page link."
          },
          "label": {
            "type": "string",
            "description": "Label for the page link."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the link is active."
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Token Bearer à passer dans les headers de votre requête http. <token>, étant le <token> renvoyé par le point d'entrée Token",
        "scheme": "bearer"
      }
    }
  }
}