{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://communes-finder.fr/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/oauth/token": {
       "post": {
         "security": [

         ],
         "description": "Récupère un token d'authentification",
         "requestBody": {
           "description": "Client secret et Client ID de votre application",
           "content": {
             "application/json": {
               "schema": {
                 "$ref": "#/components/schemas/OauthToken"
               }
             }
           },
           "required": true
         },
         "responses": {
           "200": {
             "description": "Réponse token",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/TokenResponse"
                 }
               }
             }
           },
           "400": {
             "description": "unexpected error",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/Error"
                 }
               }
             }
           }
         }
       }

    },
    "/search/communes": {
      "get": {
        "description": "Permet de rechercher une commune",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "commune à rechercher",
            "schema": {
              "type": "string",
              "format": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunesResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

  },
  "components": {
    "schemas": {
      "OauthToken": {
        "allOf": [
          {
            "required": [
              "client_id",
              "client_secret"
            ],
            "type": "object",
            "properties": {
              "client_id": {
                "description": "le client_id fournit par votre application",
                "type": "string"
              },
              "client_secret": {
                "description": "le client_secret fournit par votre application",
                "type": "string"
              }
            }
          }
        ]
      },
      "CommunesResponse": {
        "required": [
          "q"
        ],
        "properties": {
          "type": {
            "description": "Type de résultat",
            "type": "string"
          },

          "code_insee": {
            "description": "Code INSEE de la commune",
            "type": "string"
          },
          "score": {
            "description": "Pertinence de la recherche (0 à 1)",
            "type": "integer"
          },
          "codesPostaux": {
            "description": "Liste de codes postaux",
            "type": "array",
            "items": {
              "type": "string"
            }
          }

        },
        "type": "object"
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "Votre token d'authentification",
            "type": "string"
          },
          "token_type": {
            "description": "Le type du token",
            "type": "string"
          },
          "expires_in": {
            "description": "Expiration du token en secondes",
            "type": "integer"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Token Bearer à passer dans les headers de votre requête http. <token>, étant le <token> renvoyé par le point d'entrée Token",
        "scheme": "bearer"
      }
    }
  }
}