{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://communes-finder.fr/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Gratuit",
      "description": "Operations gratuite"
    },
    {
      "name": "Premium",
      "description": "Nécessite un abonnement"
    }
  ],
  "paths": {
    "/oauth/token": {
       "post": {
         "security": [

         ],
         "description": "Récupère un token d'authentification",
         "requestBody": {
           "description": "Client secret et Client ID de votre application",
           "content": {
             "application/json": {
               "schema": {
                 "$ref": "#/components/schemas/OauthToken"
               }
             }
           },
           "required": true
         },
         "responses": {
           "200": {
             "description": "Réponse token",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/TokenResponse"
                 }
               }
             }
           },
           "400": {
             "description": "unexpected error",
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/Error"
                 }
               }
             }
           }
         }
       }

    },
    "/search/communes": {
      "get": {
        "description": "Permet de rechercher une commune",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "commune à rechercher",
            "schema": {
              "type": "string",
              "format": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunesResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/commune/{code_insee}":
    {
      "get": {
        "description": "Permet de récupérer une commune par son code INSEE",
        "parameters": [
          {
            "name": "code_insee",
            "in": "path",
            "description": "Code INSEE de la commune",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommuneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/commune/{code_insee}/quartiers":{
      "get": {
        "description": "Permet de récupérer les quartiers par communes",
        "parameters": [
          {
            "name": "code_insee",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommuneQuartiersResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OauthToken": {
        "allOf": [
          {
            "required": [
              "client_id",
              "client_secret"
            ],
            "type": "object",
            "properties": {
              "client_id": {
                "description": "le client_id fournit par votre application",
                "type": "string"
              },
              "client_secret": {
                "description": "le client_secret fournit par votre application",
                "type": "string"
              }
            }
          }
        ]
      },
      "CommuneResponse": {
        "required": [
          "code_insee"
        ],
        "properties": {
            "type": {
                "description": "Type de résultat",
                "type": "string"
            },
            "code_insee": {
                "description": "Code INSEE de la commune",
                "type": "string"
            },
            "nom": {
                "description": "Nom de la commune",
                "type": "string"
            },
            "codes_postaux": {
                "description": "Code postaux de la commune",
                "type": "array",
                "items": {
                    "type": "string"
                }
            },
            "population": {
                "description": "Population de la commune",
                "type": "integer"
            },
          "median_price": {
            "description": "Prix médian commune",
            "type": "object",
            "properties": {
              "Local industriel. commercial ou assimilé": {
                "description": "Prix médian d'une maison",
                "type": "integer"
              },
              "Maison": {
                "description": "Prix médian d'une maison",
                "type": "integer"
              },
              "Appartement": {
                "description": "Prix médian d'un appartement",
                "type": "integer"
              }
            }
          }
        }
      },
      "CommunesResponse": {
        "required": [
          "q"
        ],
        "properties": {
          "type": {
            "description": "Type de résultat",
            "type": "string"
          },

          "code_insee": {
            "description": "Code INSEE de la commune",
            "type": "string"
          },
          "score": {
            "description": "Pertinence de la recherche (0 à 1)",
            "type": "integer"
          },
          "codesPostaux": {
            "description": "Liste de codes postaux",
            "type": "array",
            "items": {
              "type": "string"
            }
          }

        },
        "type": "object"
      },
      "CommuneQuartiersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Quartier"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Quartier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "median_prices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "quartier": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Geometry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["MultiPolygon"]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "path": {
            "type": "string",
            "format": "uri"
          },
          "per_page": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "label": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "Votre token d'authentification",
            "type": "string"
          },
          "token_type": {
            "description": "Le type du token",
            "type": "string"
          },
          "expires_in": {
            "description": "Expiration du token en secondes",
            "type": "integer"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Token Bearer à passer dans les headers de votre requête http. <token>, étant le <token> renvoyé par le point d'entrée Token",
        "scheme": "bearer"
      }
    }
  }
}